In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
page = requests.get('https://www.worldometers.info/coronavirus/country/singapore/')

In [5]:
response = requests.get('https://www.worldometers.info/coronavirus/country/singapore/')

In [6]:
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
data_entries = soup.find_all(id='maincounter-wrap')

In [8]:
data_entries

[<div id="maincounter-wrap" style="margin-top:15px">
 <h1>Coronavirus Cases:</h1>
 <div class="maincounter-number">
 <span style="color:#aaa">2,481,404        </span>
 </div>
 </div>,
 <div id="maincounter-wrap" style="margin-top:15px">
 <h1>Deaths:</h1>
 <div class="maincounter-number">
 <span>1,727</span>
 </div>
 </div>,
 <div id="maincounter-wrap" style="margin-top:15px;">
 <h1>Recovered:</h1>
 <div class="maincounter-number" style="color:#8ACA2B ">
 <span>2,149,583</span>
 </div>
 </div>,
 <div id="maincounter-wrap" style="margin-top:20px;">
 <a href="#graph-cases-daily" style="font-size:14px;">Daily Cases Graph</a> - <a href="#graph-deaths-daily" style="font-size:14px;">Daily Deaths Graph</a>
 </div>]

In [9]:
coronavirus_cases = []
deaths = []
recovered = []
for entry in data_entries:
    coronavirus_cases_element = entry.find("div",class_='maincounter-number')
    if coronavirus_cases_element:
        coronavirus_cases.append(coronavirus_cases_element.text.strip())
    deaths_element= entry.find("div",class_='maincounter-number')
    if deaths_element:
        deaths.append(deaths_element.text.strip())
    recovered_element = entry.find("div",class_='maincounter-number')
    if recovered_element:
         recovered.append(recovered_element.text.strip())

In [10]:
data = {
    "Coronavirus_Cases": coronavirus_cases,
    "Deaths ": deaths ,
    "Recovered ": recovered 
}

In [11]:
df = pd.DataFrame(data)

In [12]:
df

  Coronavirus_Cases    Deaths  Recovered
0         2,481,404  2,481,404  2,481,404
1             1,727      1,727      1,727
2         2,149,583  2,149,583  2,149,583

In [13]:
df

  Coronavirus_Cases    Deaths  Recovered
0         2,481,404  2,481,404  2,481,404
1             1,727      1,727      1,727
2         2,149,583  2,149,583  2,149,583

In [14]:
df.to_csv("data_corona.csv")